= render "shared/profile/activity_filters", activity_filters: @activity_filters, activity_period: @activity_period, profile_routes: person_profile_routes(@profile_email), turbo_frame: "person-activity"
