= render "shared/profile/contributions", title: "Activity", contribution_years: @contribution_years, contribution_year: @contribution_year, contribution_weeks: @contribution_weeks, contribution_month_spans: @contribution_month_spans, profile_routes: person_profile_routes(@profile_email), turbo_frame: "person-activity"
