= render "shared/profile/contributions", title: "Team Activity", contribution_years: @contribution_years, contribution_year: @contribution_year, contribution_weeks: @contribution_weeks, contribution_month_spans: @contribution_month_spans, profile_routes: team_profile_routes(@team.name), turbo_frame: "team-activity"
